
/* clases de iconos */
.icon-html5 { color: $color-html5; }
.icon-css3 { color: $color-css3; }
.icon-sass { color: $color-sass; }
.icon-bootstrap { color: $color-bootstrap; }
.icon-git { color: $color-git; }
.icon-github { color: $color-github; }
.icon-js { color: $color-js; }
.icon-vue { color: $color-vue; }