/* $form-check-input-checked-color:          white;
$form-check-input-checked-bg-color:         #719E2E;
$form-check-input-checked-border-color:  #719E2E;

$btn-outline-success : #719E2E;
 */

$color-html5: #E44D26;
$color-css3: #1572B6;
$color-sass: #CC6699;
$color-bootstrap: #563D7C;
$color-git: #F34F29;
$color-github: #24292E;
$color-js: #F0DB4F;
$color-vue: #4FC08D;
$bg-button: #505270;
$color-primario: #505270;
$color-secundario: #91c9f3;
$bg-primario: #f1f1ec;